In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\RGIPT\Documents\Classification\DATASET_ weka_679.csv")

In [3]:
df.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
0,630.0,1.50,0.0,0.25,0.0,0.0,80.0
1,1000.0,1.75,0.0,0.25,0.0,0.0,125.0
2,1500.0,2.50,0.0,0.25,0.0,0.0,175.0
3,1400.0,2.90,0.0,0.25,0.0,0.0,160.0
4,850.0,1.25,0.0,0.25,0.0,0.0,95.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SSA(m2/g)             558 non-null    float64
 1   Pore size(nm)         558 non-null    float64
 2   Pore Volume (cm3/g)   558 non-null    float64
 3   Potential             558 non-null    float64
 4   Nitrogen %            558 non-null    float64
 5   Id/Ig                 558 non-null    float64
 6   Specific Capacitance  558 non-null    float64
dtypes: float64(7)
memory usage: 30.6 KB

In [5]:
df['SSA(m2/g)'] = df['SSA(m2/g)']/1000
df.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
0,0.63,1.50,0.0,0.25,0.0,0.0,80.0
1,1.00,1.75,0.0,0.25,0.0,0.0,125.0
2,1.50,2.50,0.0,0.25,0.0,0.0,175.0
3,1.40,2.90,0.0,0.25,0.0,0.0,160.0
4,0.85,1.25,0.0,0.25,0.0,0.0,95.0

In [6]:
df.describe()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
count,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000
mean,1.166802,1.714821,0.867994,1.296057,1.329385,0.555733,188.130824
std,0.883202,2.616503,0.861877,0.792527,2.875535,0.798127,104.478231
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.461500,0.000000,0.238000,1.000000,0.000000,0.000000,120.000000
50%,1.016700,0.900000,0.690000,1.000000,0.000000,0.000000,176.500000
75%,1.641000,2.522500,1.295000,1.000000,1.137500,0.997500,247.750000
max,4.073000,27.200000,5.910000,4.000000,19.800000,4.540000,587.000000

In [7]:
# verify that there are no null columns in the dataset
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [SSA(m2/g), Pore size(nm), Pore Volume (cm3/g), Potential, Nitrogen %, Id/Ig, Specific Capacitance]
Index: []

In [8]:
print(len(df['Specific Capacitance']))
print(df['Specific Capacitance'].value_counts())

558
Specific Capacitance
125.0    9
175.0    8
150.0    8
270.0    8
190.0    7
        ..
99.2     1
144.8    1
300.4    1
272.3    1
491.0    1
Name: count, Length: 330, dtype: int64

In [9]:
def assign_class(value):
    if value <= 138:
        return 1
    elif value <= 223:
        return 2
    else:
        return 3

df['Output_Class'] = df['Specific Capacitance'].apply(assign_class)
# Check the distribution of output classes
print("\nClass Distribution:")
print(df['Output_Class'].value_counts())

Class Distribution:
Output_Class
1    187
2    186
3    185
Name: count, dtype: int64

In [10]:
# split the data as df1,df2 and df3
df1 = df[df['Output_Class'] == 1]
df2 = df[df['Output_Class'] == 2]
df3 = df[df['Output_Class'] == 3]

In [11]:
#drop specific capacitance column for classification
# Drop column ''
dfop = df.drop(columns=['Specific Capacitance'])
#dfop = df.drop(columns=[df.columns[6]], inplace=True)
dfop

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Output_Class
0,0.630,1.50,0.000,0.25,0.0,0.00,1
1,1.000,1.75,0.000,0.25,0.0,0.00,1
2,1.500,2.50,0.000,0.25,0.0,0.00,2
3,1.400,2.90,0.000,0.25,0.0,0.00,2
4,0.850,1.25,0.000,0.25,0.0,0.00,1
...,...,...,...,...,...,...,...
553,0.851,2.00,0.550,1.00,0.0,0.00,1
554,1.299,0.00,0.000,1.00,4.8,0.89,3
555,2.090,0.00,0.000,1.00,4.1,0.90,3
556,3.023,1.20,2.180,4.00,0.0,0.00,2
557,1.218,0.00,1.075,0.00,0.0,0.00,3

In [12]:
# Check Unique Values for each variable.
for i in dfop.columns:
  print(f"Unique {i}'s count:{dfop[i].nunique()}\n------------------------------------------")
  if i in dfop.columns:
    if(dfop[i].nunique() < 12):
      print(f"\n{dfop[i].unique()}\n------------------------------------------")

Unique SSA(m2/g)'s count:441
------------------------------------------
Unique Pore size(nm)'s count:177
------------------------------------------
Unique Pore Volume (cm3/g)'s count:223
------------------------------------------
Unique Potential's count:21
------------------------------------------
Unique Nitrogen %'s count:129
------------------------------------------
Unique Id/Ig's count:113
------------------------------------------
Unique Output_Class's count:3
------------------------------------------

[1 2 3]
------------------------------------------

In [13]:
from sklearn.model_selection import train_test_split, learning_curve
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, auc, precision_recall_curve, accuracy_score

In [14]:
# Prepare input features (X) and target variable (y)
X = dfop.drop(columns=['Output_Class'])  # Input features
y = dfop['Output_Class']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
#Scaler technique
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [16]:
#Importing different classifier from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.gaussian_process.kernels import RBF
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import classification_report, accuracy_score

In [17]:
# Define scoring method
scoring = 'accuracy'
# Model building to train
names = ['K Nearest Neighbors', 'Gaussian Process', 'Decision Tree', 'Random Forest', 'Neural Net', 'AddaBoost', 'Naive Bayes', 'SVM Linear', 'SVM RBF', 'SVM Sigmoid']
Classifiers = [
    KNeighborsClassifier(n_neighbors = 5),
    GaussianProcessClassifier(1.0*RBF(1.0)),
    DecisionTreeClassifier(max_depth = 5),
    RandomForestClassifier(max_depth = 5, n_estimators = 10, max_features = 1 ),
    MLPClassifier(alpha = 1),
    AdaBoostClassifier(),
    GaussianNB(),
    svm.SVC(kernel = 'linear'),
    svm.SVC(kernel = 'rbf'),
    svm.SVC(kernel = 'sigmoid')
    
    ]
models = zip(names, Classifiers)
# import KFold
from sklearn.model_selection import KFold, cross_val_score

names = []
result = []
for name, model in models:
    kfold = KFold(n_splits = 10)
    cv_results = cross_val_score(model, X_train, y_train, cv = kfold, scoring = 'accuracy')
    result.append(cv_results)
    names.append(name)
    msg = "{0}: {1} ({2})".format(name, cv_results.mean(), cv_results.std())
    print(msg)

K Nearest Neighbors: 0.5340909090909091 (0.10242400583719415)

C:\Users\RGIPT\AppData\Roaming\Python\Python312\site-packages\sklearn\gaussian_process\kernels.py:452: ConvergenceWarning: The optimal value found for dimension 0 of parameter k2__length_scale is close to the specified upper bound 100000.0. Increasing the bound and calling fit again may find a better value.
  warnings.warn(
C:\Users\RGIPT\AppData\Roaming\Python\Python312\site-packages\sklearn\gaussian_process\kernels.py:452: ConvergenceWarning: The optimal value found for dimension 0 of parameter k2__length_scale is close to the specified upper bound 100000.0. Increasing the bound and calling fit again may find a better value.
  warnings.warn(
C:\Users\RGIPT\AppData\Roaming\Python\Python312\site-packages\sklearn\gaussian_process\kernels.py:452: ConvergenceWarning: The optimal value found for dimension 0 of parameter k2__length_scale is close to the specified upper bound 100000.0. Increasing the bound and calling fit again may find a better value.
  warnings.warn(
C:\Users\RGIPT\AppData\Roaming\Python\Python312\site-packages\sklearn\gaussian_process\kernels.py:452: ConvergenceWarning: The optimal value found for dimension 0 of parameter k2__length_scale is close to the specified upper bound 100000.0. Increasing the bound and calling fit again may find a better value.
  warnings.warn(
C:\Users\RGIPT\AppData\Roaming\Python\Python312\site-packages\sklearn\gaussian_process\kernels.py:452: ConvergenceWarning: The optimal value found for dimension 0 of parameter k2__length_scale is close to the specified upper bound 100000.0. Increasing the bound and calling fit again may find a better value.
  warnings.warn(

Gaussian Process: 0.5228282828282829 (0.06550012442245594)
Decision Tree: 0.552070707070707 (0.0636914344040649)
Random Forest: 0.5720202020202021 (0.05980156281921782)
Neural Net: 0.43525252525252534 (0.08308926609490408)
AddaBoost: 0.5475252525252525 (0.0731938073566592)
Naive Bayes: 0.5222222222222223 (0.08971664630844267)
SVM Linear: 0.5474747474747474 (0.08363032477100604)
SVM RBF: 0.5273232323232323 (0.0728437794353665)
SVM Sigmoid: 0.4621717171717171 (0.08038666948540676)

In [18]:
df.sample(10)

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance,Output_Class
219,0.521,5.70,0.740,1.0,0.00,0.000,91.0,1
129,1.615,0.50,1.237,1.0,0.00,0.000,175.0,2
436,1.684,1.86,1.570,1.0,1.15,1.008,224.0,3
29,2.549,0.00,0.000,2.7,0.00,0.000,106.0,1
63,1.452,4.63,0.810,2.4,0.00,0.000,147.0,2
349,1.591,1.90,0.700,0.8,5.27,0.930,350.0,3
401,0.241,3.13,0.350,0.8,0.00,0.000,50.0,1
553,0.851,2.00,0.550,1.0,0.00,0.000,120.0,1
408,1.803,1.10,0.800,1.0,6.50,0.980,285.0,3
277,0.519,0.00,0.000,1.0,0.00,1.240,35.0,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SSA(m2/g)             558 non-null    float64
 1   Pore size(nm)         558 non-null    float64
 2   Pore Volume (cm3/g)   558 non-null    float64
 3   Potential             558 non-null    float64
 4   Nitrogen %            558 non-null    float64
 5   Id/Ig                 558 non-null    float64
 6   Specific Capacitance  558 non-null    float64
 7   Output_Class          558 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 35.0 KB

In [20]:
df1

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance,Output_Class
0,0.630,1.50,0.00,0.25,0.0,0.0,80.0,1
1,1.000,1.75,0.00,0.25,0.0,0.0,125.0,1
4,0.850,1.25,0.00,0.25,0.0,0.0,95.0,1
5,1.800,1.15,0.00,0.25,0.0,0.0,138.0,1
7,1.100,1.80,0.00,0.25,0.0,0.0,120.0,1
...,...,...,...,...,...,...,...,...
535,1.290,0.70,3.04,2.70,3.6,0.0,101.0,1
536,1.222,0.70,2.76,2.70,0.0,0.0,108.0,1
537,1.487,1.00,0.74,2.70,0.0,0.0,90.0,1
551,0.341,0.00,0.53,0.90,0.0,0.0,41.0,1
553,0.851,2.00,0.55,1.00,0.0,0.0,120.0,1

In [21]:
df2

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance,Output_Class
2,1.500,2.50,0.00,0.25,0.00,0.00,175.0,2
3,1.400,2.90,0.00,0.25,0.00,0.00,160.0,2
6,1.700,1.25,0.00,0.25,0.00,0.00,143.0,2
10,1.347,3.00,1.01,0.90,0.00,0.00,189.1,2
14,0.550,0.59,0.34,0.90,0.90,0.00,140.0,2
...,...,...,...,...,...,...,...,...
542,1.066,5.57,1.48,1.00,0.00,0.00,168.0,2
543,0.866,3.81,0.83,1.00,0.00,0.00,189.0,2
549,1.841,2.25,1.05,0.90,1.39,1.78,187.0,2
550,1.554,2.36,0.94,0.90,1.09,2.35,204.0,2
556,3.023,1.20,2.18,4.00,0.00,0.00,213.0,2

In [22]:
df3

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance,Output_Class
11,3.3100,2.00,0.000,0.9,0.00,0.00,333.9,3
15,2.8720,0.00,2.060,1.0,0.00,0.00,312.0,3
17,1.1400,0.00,0.000,0.9,0.00,0.00,304.0,3
19,0.0000,0.00,0.000,1.2,0.00,3.75,300.0,3
22,0.0000,0.00,0.000,1.2,0.00,3.25,225.0,3
...,...,...,...,...,...,...,...,...
548,1.7330,1.97,0.860,0.9,1.64,1.38,304.0,3
552,1.1616,21.00,2.780,1.0,0.00,0.00,257.0,3
554,1.2990,0.00,0.000,1.0,4.80,0.89,491.0,3
555,2.0900,0.00,0.000,1.0,4.10,0.90,525.0,3
557,1.2180,0.00,1.075,0.0,0.00,0.00,276.0,3

In [23]:
#drop last column from df1
df1 = df1.drop(df1.columns[-1], axis=1)
df1.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
0,0.63,1.50,0.0,0.25,0.0,0.0,80.0
1,1.00,1.75,0.0,0.25,0.0,0.0,125.0
4,0.85,1.25,0.0,0.25,0.0,0.0,95.0
5,1.80,1.15,0.0,0.25,0.0,0.0,138.0
7,1.10,1.80,0.0,0.25,0.0,0.0,120.0

In [24]:
# To select all columns except the last one for X1, and the last column for y1:
X1 = df1.iloc[:, :-1]  # Select all columns except the last one for features (X1)
y1 = df1.iloc[:, -1]   # Select the last column as the target (y1)

In [25]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split, learning_curve
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.2, random_state=42)

In [26]:
#Scaler technique
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train1_scaler = scaler.fit_transform(X_train1)
X_test1_scaler = scaler.transform(X_test1)

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import BayesianRidge
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [28]:
# Define scoring method
#scoring = 'accuracy'
# Model building to train
names = ['Linear Regression' , 'Ridge Regression', 'Lasso Regression', 'K Nearest Neighbors', 'Elastic Net Regression' ,
         'Bayesion Ridge Regression','Decision Tree', 'Random Forest', 'XGBoost', 'AddaBoost', 'Gradient Boost', 'SVM Linear', 'SVM RBF', 'SVM Sigmoid']
Regressor = [
    LinearRegression(),
    Ridge(alpha=1.0),
    Lasso(alpha=0.01),
    KNeighborsRegressor(n_neighbors=5),
    ElasticNet(alpha=0.01, l1_ratio=0.5),
    BayesianRidge(compute_score=True),
    DecisionTreeRegressor(max_depth=5, min_samples_split=10, min_samples_leaf=2, random_state=42),
    RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42),
    XGBRegressor(n_estimators=100,  random_state=42),
    AdaBoostRegressor(random_state=42, n_estimators=100),
    GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    SVR(kernel='linear', C=1.0, epsilon=0.1),
    SVR(kernel='rbf', C=1.0, epsilon=0.1),
    SVR(kernel='sigmoid', C=1.0, epsilon=0.1),
     ]
models = zip(names, Regressor)
# import KFold
from sklearn.model_selection import KFold, cross_val_score

names = []
result = []
for name, model in models:
    kfold = KFold(n_splits = 10)
    #cv_results = cross_val_score(model, X_train1, y_train1, cv = kfold, scoring = 'neg_mean_absolute_error')
    cv_results = cross_val_score(model, X_train1, y_train1, cv = kfold, scoring = 'neg_mean_absolute_error')
    result.append(cv_results)
    names.append(name)
    msg = "{0}: {1} ({2})".format(name, cv_results.mean(), cv_results.std())
    print(msg)

Linear Regression: -32.537689675035665 (5.043394214519196)
Ridge Regression: -32.53304605324538 (4.961160381331798)
Lasso Regression: -32.53471509005296 (5.039394391496436)
K Nearest Neighbors: -31.554548571428576 (6.195789564959773)
Elastic Net Regression: -32.53353189603245 (4.985497224608715)
Bayesion Ridge Regression: -32.75153978202174 (4.520533075029536)
Decision Tree: -28.59785249062054 (7.484530011179727)
Random Forest: -27.647371711810592 (5.921687822398706)
XGBoost: -26.011185809562324 (6.001346422405941)
AddaBoost: -30.540352590857715 (4.944711256542992)
Gradient Boost: -26.765568958417894 (5.393473869859495)
SVM Linear: -34.14435281929193 (4.783554527992431)
SVM RBF: -37.02076875556898 (7.04934430733667)
SVM Sigmoid: -37.53777734817549 (7.229315808187913)

In [29]:
#Test the algorithm on the test data set
models = zip(names, Regressor)
for name, model in models:
    model.fit(X_train1, y_train1)
    y_pred1 = model.predict(X_test1)
    print(name)
    
    print(f"Mean Absolute error (MAE1): {mean_absolute_error(y_test1, y_pred1)}")
    #print(f"Mean Squared Error (MSE1): {mean_squared_error(y_test1, y_pred1)}")
    print(f"Root Mean Squared Error (RMSE): {np.sqrt(mean_squared_error(y_test1, y_pred1))}")

Linear Regression
Mean Absolute error (MAE1): 26.055177388780567
Root Mean Squared Error (RMSE): 30.38434751124086
Ridge Regression
Mean Absolute error (MAE1): 26.11196926013443
Root Mean Squared Error (RMSE): 30.404315224345083
Lasso Regression
Mean Absolute error (MAE1): 26.055393698663863
Root Mean Squared Error (RMSE): 30.383056102526997
K Nearest Neighbors
Mean Absolute error (MAE1): 25.019052631578944
Root Mean Squared Error (RMSE): 33.42631201219844
Elastic Net Regression
Mean Absolute error (MAE1): 26.09780941845985
Root Mean Squared Error (RMSE): 30.39810539922082
Bayesion Ridge Regression
Mean Absolute error (MAE1): 26.58493450624545
Root Mean Squared Error (RMSE): 30.620758898985596
Decision Tree
Mean Absolute error (MAE1): 22.56022368421053
Root Mean Squared Error (RMSE): 27.672033012148482
Random Forest
Mean Absolute error (MAE1): 19.21252925000663
Root Mean Squared Error (RMSE): 24.076358627081568
XGBoost
Mean Absolute error (MAE1): 23.609575068323238
Root Mean Squared Error (RMSE): 30.998846141833358
AddaBoost
Mean Absolute error (MAE1): 22.52633606557588
Root Mean Squared Error (RMSE): 26.23059502555182
Gradient Boost
Mean Absolute error (MAE1): 21.415883192633068
Root Mean Squared Error (RMSE): 28.441485158873416
SVM Linear
Mean Absolute error (MAE1): 28.460325557258738
Root Mean Squared Error (RMSE): 33.443758046187604
SVM RBF
Mean Absolute error (MAE1): 31.159030211571096
Root Mean Squared Error (RMSE): 37.03113552743297
SVM Sigmoid
Mean Absolute error (MAE1): 32.13646706254082
Root Mean Squared Error (RMSE): 38.24402318739235

In [30]:
df2.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance,Output_Class
2,1.500,2.50,0.00,0.25,0.0,0.0,175.0,2
3,1.400,2.90,0.00,0.25,0.0,0.0,160.0,2
6,1.700,1.25,0.00,0.25,0.0,0.0,143.0,2
10,1.347,3.00,1.01,0.90,0.0,0.0,189.1,2
14,0.550,0.59,0.34,0.90,0.9,0.0,140.0,2

In [31]:
#drop last column from df1
df2 = df2.drop(df2.columns[-1], axis=1)
df2.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
2,1.500,2.50,0.00,0.25,0.0,0.0,175.0
3,1.400,2.90,0.00,0.25,0.0,0.0,160.0
6,1.700,1.25,0.00,0.25,0.0,0.0,143.0
10,1.347,3.00,1.01,0.90,0.0,0.0,189.1
14,0.550,0.59,0.34,0.90,0.9,0.0,140.0

In [32]:
df2.sample(10)

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
131,0.7750,0.50,0.540,1.0,0.00,0.00,155.0
183,1.7340,1.87,0.820,1.0,0.00,0.00,220.0
496,2.5820,0.48,0.000,3.5,1.27,1.00,188.0
199,2.9260,0.79,1.450,2.0,0.20,0.00,167.0
115,1.0400,10.00,2.600,2.0,5.24,0.00,210.0
493,2.0069,1.36,0.920,1.0,0.00,1.95,174.0
192,0.8800,0.60,0.440,1.2,0.20,0.00,146.0
129,1.6150,0.50,1.237,1.0,0.00,0.00,175.0
58,1.7590,2.70,0.930,0.8,0.00,0.00,218.0
395,1.4220,0.00,0.800,1.0,0.00,0.00,169.4

In [33]:
# To select all columns except the last one for X2, and the last column for y2:
X2 = df2.iloc[:, :-1]  # Select all columns except the last one for features (X2)
y2 = df2.iloc[:, -1]   # Select the last column as the target (y2)

In [34]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split, learning_curve
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.2, random_state=42)

In [35]:
#Scaler technique
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train2_scaler = scaler.fit_transform(X_train2)
X_test2_scaler = scaler.transform(X_test2)

In [36]:
# Define scoring method
#scoring = 'accuracy'
# Model building to train
names = ['Linear Regression' , 'Ridge Regression', 'Lasso Regression', 'K Nearest Neighbors', 'Elastic Net Regression' ,
         'Bayesion Ridge Regression','Decision Tree', 'Random Forest', 'XGBoost', 'AddaBoost', 'Gradient Boost', 'SVM Linear', 'SVM RBF', 'SVM Sigmoid']
Regressor = [
    LinearRegression(),
    Ridge(alpha=1.0),
    Lasso(alpha=0.01),
    KNeighborsRegressor(n_neighbors=5),
    ElasticNet(alpha=0.01, l1_ratio=0.5),
    BayesianRidge(compute_score=True),
    DecisionTreeRegressor(max_depth=5, min_samples_split=10, min_samples_leaf=2, random_state=42),
    RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42),
    XGBRegressor(n_estimators=100,  random_state=42),
    AdaBoostRegressor(random_state=42, n_estimators=100),
    GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    SVR(kernel='linear', C=1.0, epsilon=0.1),
    SVR(kernel='rbf', C=1.0, epsilon=0.1),
    SVR(kernel='sigmoid', C=1.0, epsilon=0.1),
     ]
models = zip(names, Regressor)
# import KFold
from sklearn.model_selection import KFold, cross_val_score

names = []
result = []
for name, model in models:
    kfold = KFold(n_splits = 10)
    #cv_results = cross_val_score(model, X_train1, y_train1, cv = kfold, scoring = 'neg_mean_absolute_error')
    cv_results = cross_val_score(model, X_train2, y_train2, cv = kfold, scoring = 'neg_mean_absolute_error')
    result.append(cv_results)
    names.append(name)
    msg = "{0}: {1} ({2})".format(name, cv_results.mean(), cv_results.std())
    print(msg)

Linear Regression: -20.47401180269983 (2.5057887315461183)
Ridge Regression: -20.472293560282 (2.491025280261353)
Lasso Regression: -20.474381256505147 (2.5029520557681417)
K Nearest Neighbors: -22.01406095238095 (2.200251350701128)
Elastic Net Regression: -20.472643951159352 (2.494460072928415)
Bayesion Ridge Regression: -21.126401966095354 (2.1377163396538763)
Decision Tree: -24.068122486417177 (3.3997038164790228)
Random Forest: -21.104817005104053 (2.296887291141688)
XGBoost: -23.978476257905506 (3.8357740070325463)
AddaBoost: -21.161444408086346 (2.242575745737166)
Gradient Boost: -23.015891666530614 (2.313717174596797)
SVM Linear: -20.578181398093744 (2.9693773713014546)
SVM RBF: -21.331592584288124 (2.5837518786748426)
SVM Sigmoid: -21.452902396890742 (2.4147771644816918)

In [37]:
#Test the algorithm on the test data set
models = zip(names, Regressor)
for name, model in models:
    model.fit(X_train2, y_train2)
    y_pred2 = model.predict(X_test2)
    print(name)
    
    print(f"Mean Absolute error (MAE2): {mean_absolute_error(y_test2, y_pred2)}")
    print(f"Root Mean Squared Error (RMSE2): {np.sqrt(mean_squared_error(y_test2, y_pred2))}")
    #print(f"Mean Squared Error (MSE2): {mean_squared_error(y_test2, y_pred2)}")

Linear Regression
Mean Absolute error (MAE2): 20.183311191966464
Root Mean Squared Error (RMSE2): 24.200594404645425
Ridge Regression
Mean Absolute error (MAE2): 20.168649978376084
Root Mean Squared Error (RMSE2): 24.194598302609442
Lasso Regression
Mean Absolute error (MAE2): 20.17960873031915
Root Mean Squared Error (RMSE2): 24.1980268918226
K Nearest Neighbors
Mean Absolute error (MAE2): 22.61863157894737
Root Mean Squared Error (RMSE2): 26.88907732851664
Elastic Net Regression
Mean Absolute error (MAE2): 20.17058269590291
Root Mean Squared Error (RMSE2): 24.19485529303659
Bayesion Ridge Regression
Mean Absolute error (MAE2): 19.698554838965162
Root Mean Squared Error (RMSE2): 24.04169875023186
Decision Tree
Mean Absolute error (MAE2): 21.439742625795255
Root Mean Squared Error (RMSE2): 27.96995997296731
Random Forest
Mean Absolute error (MAE2): 22.171232126666
Root Mean Squared Error (RMSE2): 26.967821497994493
XGBoost
Mean Absolute error (MAE2): 26.3857760780736
Root Mean Squared Error (RMSE2): 31.431773328967214
AddaBoost
Mean Absolute error (MAE2): 21.13322174225244
Root Mean Squared Error (RMSE2): 25.958258410402514
Gradient Boost
Mean Absolute error (MAE2): 23.169400575177097
Root Mean Squared Error (RMSE2): 28.822889378148574
SVM Linear
Mean Absolute error (MAE2): 20.497142634047176
Root Mean Squared Error (RMSE2): 24.66274276990879
SVM RBF
Mean Absolute error (MAE2): 19.941461308780887
Root Mean Squared Error (RMSE2): 24.57818347475911
SVM Sigmoid
Mean Absolute error (MAE2): 19.554753592477333
Root Mean Squared Error (RMSE2): 24.314711299540967

In [38]:
#drop last column from df1
df3 = df3.drop(df3.columns[-1], axis=1)
df3.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
11,3.310,2.0,0.00,0.9,0.0,0.00,333.9
15,2.872,0.0,2.06,1.0,0.0,0.00,312.0
17,1.140,0.0,0.00,0.9,0.0,0.00,304.0
19,0.000,0.0,0.00,1.2,0.0,3.75,300.0
22,0.000,0.0,0.00,1.2,0.0,3.25,225.0

In [39]:
# To select all columns except the last one for X3, and the last column for y3:
X3 = df3.iloc[:, :-1]  # Select all columns except the last one for features (X3)
y3 = df3.iloc[:, -1]   # Select the last column as the target (y3)

In [40]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split, learning_curve
X_train3, X_test3, y_train3, y_test3 = train_test_split(X3, y3, test_size=0.2, random_state=42)

In [41]:
#Scaler technique
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train3_scaler = scaler.fit_transform(X_train3)
X_test3_scaler = scaler.transform(X_test3)

In [42]:
# Define scoring method
#scoring = 'accuracy'
# Model building to train
names = ['Linear Regression' , 'Ridge Regression', 'Lasso Regression', 'K Nearest Neighbors', 'Elastic Net Regression' ,
         'Bayesion Ridge Regression','Decision Tree', 'Random Forest', 'XGBoost', 'AddaBoost', 'Gradient Boost', 'SVM Linear', 'SVM RBF', 'SVM Sigmoid']
Regressor = [
    LinearRegression(),
    Ridge(alpha=1.0),
    Lasso(alpha=0.01),
    KNeighborsRegressor(n_neighbors=5),
    ElasticNet(alpha=0.01, l1_ratio=0.5),
    BayesianRidge(compute_score=True),
    DecisionTreeRegressor(max_depth=5, min_samples_split=10, min_samples_leaf=2, random_state=42),
    RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42),
    XGBRegressor(n_estimators=100,  random_state=42),
    AdaBoostRegressor(random_state=42, n_estimators=100),
    GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    SVR(kernel='linear', C=1.0, epsilon=0.1),
    SVR(kernel='rbf', C=1.0, epsilon=0.1),
    SVR(kernel='sigmoid', C=1.0, epsilon=0.1),
     ]
models = zip(names, Regressor)
# import KFold
from sklearn.model_selection import KFold, cross_val_score

names = []
result = []
for name, model in models:
    kfold = KFold(n_splits = 10)
    #cv_results = cross_val_score(model, X_train1, y_train1, cv = kfold, scoring = 'neg_mean_absolute_error')
    cv_results = cross_val_score(model, X_train3, y_train3, cv = kfold, scoring = 'neg_mean_absolute_error')
    result.append(cv_results)
    names.append(name)
    msg = "{0}: {1} ({2})".format(name, cv_results.mean(), cv_results.std())
    print(msg)

Linear Regression: -54.94796480526463 (11.847952923021)
Ridge Regression: -54.91228386029231 (11.843051445454158)
Lasso Regression: -54.944805234261096 (11.845147214543202)
K Nearest Neighbors: -57.99395238095237 (13.472999797360742)
Elastic Net Regression: -54.922122418991975 (11.84369611876648)
Bayesion Ridge Regression: -54.19271080525683 (11.619135976432638)
Decision Tree: -58.73345802476017 (13.647025324349544)
Random Forest: -52.028381159177854 (11.845571444472352)
XGBoost: -50.666384537469774 (13.202145447243533)
AddaBoost: -55.68367923762914 (9.896978158414184)
Gradient Boost: -53.426988398958635 (11.856796377062278)
SVM Linear: -53.014059174094314 (15.142676161023742)
SVM RBF: -53.4496944605285 (13.970490616943724)
SVM Sigmoid: -53.19385983540891 (13.645191340860666)

In [43]:
#Test the algorithm on the test data set
models = zip(names, Regressor)
for name, model in models:
    model.fit(X_train3, y_train3)
    y_pred3 = model.predict(X_test3)
    print(name)
    
    print(f"Mean Absolute error (MAE2): {mean_absolute_error(y_test3, y_pred3)}")
    print(f"Root Mean Squared Error (RMSE2): {np.sqrt(mean_squared_error(y_test3, y_pred3))}")
    #print(f"Mean Squared Error (MSE2): {mean_squared_error(y_test3, y_pred3)}")

Linear Regression
Mean Absolute error (MAE2): 47.847855214111824
Root Mean Squared Error (RMSE2): 56.48243056285725
Ridge Regression
Mean Absolute error (MAE2): 47.83149912703946
Root Mean Squared Error (RMSE2): 56.45533215566038
Lasso Regression
Mean Absolute error (MAE2): 47.84456568402213
Root Mean Squared Error (RMSE2): 56.47748026599444
K Nearest Neighbors
Mean Absolute error (MAE2): 44.077297297297285
Root Mean Squared Error (RMSE2): 56.96217512169452
Elastic Net Regression
Mean Absolute error (MAE2): 47.8340676302156
Root Mean Squared Error (RMSE2): 56.45982562047641
Bayesion Ridge Regression
Mean Absolute error (MAE2): 47.64444191953052
Root Mean Squared Error (RMSE2): 56.03110025340052
Decision Tree
Mean Absolute error (MAE2): 56.87226024726024
Root Mean Squared Error (RMSE2): 78.01295430071596
Random Forest
Mean Absolute error (MAE2): 47.115767085855836
Root Mean Squared Error (RMSE2): 58.60898895003112
XGBoost
Mean Absolute error (MAE2): 48.88601833034206
Root Mean Squared Error (RMSE2): 65.43944248899615
AddaBoost
Mean Absolute error (MAE2): 56.788261686856934
Root Mean Squared Error (RMSE2): 68.95992839378479
Gradient Boost
Mean Absolute error (MAE2): 51.49314104303088
Root Mean Squared Error (RMSE2): 66.11317494063537
SVM Linear
Mean Absolute error (MAE2): 45.64587961574393
Root Mean Squared Error (RMSE2): 56.461627038165865
SVM RBF
Mean Absolute error (MAE2): 49.85659630656404
Root Mean Squared Error (RMSE2): 61.82232051724646
SVM Sigmoid
Mean Absolute error (MAE2): 49.640551866031494
Root Mean Squared Error (RMSE2): 61.64251546232594