In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\RGIPT\Documents\Classification\DATASET_ weka_679.csv")

In [3]:
df['SSA(m2/g)'] = df['SSA(m2/g)']/1000

In [4]:
df.head()

,SSA(m2/g),Pore size(nm),Pore Volume (cm3/g),Potential,Nitrogen %,Id/Ig,Specific Capacitance
0,0.63,1.50,0.0,0.25,0.0,0.0,80.0
1,1.00,1.75,0.0,0.25,0.0,0.0,125.0
2,1.50,2.50,0.0,0.25,0.0,0.0,175.0
3,1.40,2.90,0.0,0.25,0.0,0.0,160.0
4,0.85,1.25,0.0,0.25,0.0,0.0,95.0

In [5]:
df = df.rename(columns={'SSA(m2/g)': 'SSA','Pore size(nm)': 'PS', 'Pore Volume (cm3/g)': 'PV' , 'Nitrogen %':'NC' ,  'Specific Capacitance':'SC'})

In [6]:
df.head()

    SSA    PS   PV  Potential   NC  Id/Ig     SC
0  0.63  1.50  0.0       0.25  0.0    0.0   80.0
1  1.00  1.75  0.0       0.25  0.0    0.0  125.0
2  1.50  2.50  0.0       0.25  0.0    0.0  175.0
3  1.40  2.90  0.0       0.25  0.0    0.0  160.0
4  0.85  1.25  0.0       0.25  0.0    0.0   95.0

In [7]:
df.describe()

,SSA,PS,PV,Potential,NC,Id/Ig,SC
count,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000,558.000000
mean,1.166802,1.714821,0.867994,1.296057,1.329385,0.555733,188.130824
std,0.883202,2.616503,0.861877,0.792527,2.875535,0.798127,104.478231
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.461500,0.000000,0.238000,1.000000,0.000000,0.000000,120.000000
50%,1.016700,0.900000,0.690000,1.000000,0.000000,0.000000,176.500000
75%,1.641000,2.522500,1.295000,1.000000,1.137500,0.997500,247.750000
max,4.073000,27.200000,5.910000,4.000000,19.800000,4.540000,587.000000

In [8]:
# To select all columns except the last one for X1, and the last column for y1:
X = df.iloc[:, :-1]  # Select all columns except the last one for features (X1)
y = df.iloc[:, -1]   # Select the last column as the target (y1)

In [9]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split, learning_curve
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
X_train

       SSA    PS     PV  Potential    NC  Id/Ig
182  0.477  1.96  0.230        1.0  0.00   1.01
89   0.000  0.00  0.000        0.8  0.00   1.12
185  2.086  2.10  1.100        1.0  0.00   0.00
148  1.578  0.00  1.092        1.2  0.68   0.00
204  0.521  0.00  0.380        1.0  7.30   1.00
..     ...   ...    ...        ...   ...    ...
71   3.110  0.70  1.680        1.0  0.00   0.00
106  0.787  5.81  1.140        1.0  0.00   0.00
270  1.588  0.00  1.010        0.9  5.30   0.84
435  1.417  2.22  1.560        1.0  1.99   1.01
102  1.330  4.05  1.350        1.0  0.00   0.00

[446 rows x 6 columns]

In [11]:
#Scaler technique
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import BayesianRidge
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [13]:
# Define scoring method
#scoring = 'accuracy'
# Model building to train
names = ['Linear Regression' , 'Ridge Regression', 'Lasso Regression', 'K Nearest Neighbors', 'Elastic Net Regression' ,
         'Bayesion Ridge Regression','Decision Tree', 'Random Forest', 'XGBoost', 'AddaBoost', 'Gradient Boost', 'SVM Linear', 'SVM RBF', 'SVM Sigmoid']
Regressor = [
    LinearRegression(),
    Ridge(alpha=1.0),
    Lasso(alpha=0.01),
    KNeighborsRegressor(n_neighbors=5),
    ElasticNet(alpha=0.01, l1_ratio=0.5),
    BayesianRidge(compute_score=True),
    DecisionTreeRegressor(max_depth=5, min_samples_split=10, min_samples_leaf=2, random_state=42),
    RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42),
    XGBRegressor(n_estimators=100,  random_state=42),
    AdaBoostRegressor(random_state=42, n_estimators=100),
    GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42),
    SVR(kernel='linear', C=1.0, epsilon=0.1),
    SVR(kernel='rbf', C=1.0, epsilon=0.1),
    SVR(kernel='sigmoid', C=1.0, epsilon=0.1),
     ]
models = zip(names, Regressor)
# import KFold
from sklearn.model_selection import KFold, cross_val_score

names = []
result = []
for name, model in models:
    kfold = KFold(n_splits = 10)
    #cv_results = cross_val_score(model, X_train1, y_train1, cv = kfold, scoring = 'neg_mean_absolute_error')
    cv_results = cross_val_score(model, X_train, y_train, cv = kfold, scoring = 'r2')
    result.append(cv_results)
    names.append(name)
    msg = "{0}: {1} ({2})".format(name, cv_results.mean(), cv_results.std())
    print(msg)

Linear Regression: 0.23420635642013937 (0.11045575670503302)
Ridge Regression: 0.2342447951882276 (0.11050891891117685)
Lasso Regression: 0.2342337882116019 (0.11047437840230409)
K Nearest Neighbors: 0.20719175963261605 (0.1405882385142532)
Elastic Net Regression: 0.23428396758385706 (0.11056784519117355)
Bayesion Ridge Regression: 0.23396616272176224 (0.11084489159014649)
Decision Tree: 0.22879425337858295 (0.1679522816399919)
Random Forest: 0.4044476373088548 (0.143059681378199)
XGBoost: 0.38825984421854104 (0.15290825132695487)
AddaBoost: 0.27038430131513547 (0.10490874568320928)
Gradient Boost: 0.3668614016245533 (0.09366886685165622)
SVM Linear: 0.19370841042579623 (0.13801020712764067)
SVM RBF: 0.026232556310500355 (0.06507083843707524)
SVM Sigmoid: 0.03075350604421092 (0.06528885184071768)

In [14]:
#Test the algorithm on the test data set
models = zip(names, Regressor)
for name, model in models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(name)
    print(f"R2 Score (R21): {r2_score(y_test, y_pred)}")
    print(f"Mean Absolute error (MAE1): {mean_absolute_error(y_test, y_pred)}")
    print(f"Mean Squared Error (MSE1): {mean_squared_error(y_test, y_pred)}")
    print(f"Root Mean Squared Error (RMSE): {np.sqrt(mean_squared_error(y_test, y_pred))}")

Linear Regression
R2 Score (R21): 0.33314343223611087
Mean Absolute error (MAE1): 65.68976683770883
Mean Squared Error (MSE1): 7165.951976336125
Root Mean Squared Error (RMSE): 84.65194608711677
Ridge Regression
R2 Score (R21): 0.3334130716139322
Mean Absolute error (MAE1): 65.67864753963148
Mean Squared Error (MSE1): 7163.054467447706
Root Mean Squared Error (RMSE): 84.63483010822262
Lasso Regression
R2 Score (R21): 0.3331955095847765
Mean Absolute error (MAE1): 65.68648647454172
Mean Squared Error (MSE1): 7165.39236007435
Root Mean Squared Error (RMSE): 84.6486406274451
K Nearest Neighbors
R2 Score (R21): 0.3683179647550583
Mean Absolute error (MAE1): 62.733428571428576
Mean Squared Error (MSE1): 6787.971128571429
Root Mean Squared Error (RMSE): 82.38914448257992
Elastic Net Regression
R2 Score (R21): 0.33375140627597333
Mean Absolute error (MAE1): 65.66698118576012
Mean Squared Error (MSE1): 7159.418768172453
Root Mean Squared Error (RMSE): 84.61334864058067
Bayesion Ridge Regression
R2 Score (R21): 0.33551327610547954
Mean Absolute error (MAE1): 65.62190962694766
Mean Squared Error (MSE1): 7140.485949336863
Root Mean Squared Error (RMSE): 84.50139613838853
Decision Tree
R2 Score (R21): 0.43950119774760166
Mean Absolute error (MAE1): 58.776207445072636
Mean Squared Error (MSE1): 6023.045575156893
Root Mean Squared Error (RMSE): 77.608282903031
Random Forest
R2 Score (R21): 0.5564930012837384
Mean Absolute error (MAE1): 52.886204575616134
Mean Squared Error (MSE1): 4765.8672158342915
Root Mean Squared Error (RMSE): 69.03526067043052
XGBoost
R2 Score (R21): 0.5175087168107995
Mean Absolute error (MAE1): 53.87874970861844
Mean Squared Error (MSE1): 5184.787151348547
Root Mean Squared Error (RMSE): 72.0054661213199
AddaBoost
R2 Score (R21): 0.38208275651149437
Mean Absolute error (MAE1): 65.71048246308098
Mean Squared Error (MSE1): 6640.05650725842
Root Mean Squared Error (RMSE): 81.48654187814341
Gradient Boost
R2 Score (R21): 0.5963769703140902
Mean Absolute error (MAE1): 50.56286957232895
Mean Squared Error (MSE1): 4337.279389736173
Root Mean Squared Error (RMSE): 65.85802449008149
SVM Linear
R2 Score (R21): 0.31903575529296657
Mean Absolute error (MAE1): 65.06678000736493
Mean Squared Error (MSE1): 7317.551196257178
Root Mean Squared Error (RMSE): 85.54268639841268
SVM RBF
R2 Score (R21): 0.08929580386843283
Mean Absolute error (MAE1): 75.08215426954642
Mean Squared Error (MSE1): 9786.306155774804
Root Mean Squared Error (RMSE): 98.92576082990115
SVM Sigmoid
R2 Score (R21): 0.08620537373950243
Mean Absolute error (MAE1): 75.16919257165776
Mean Squared Error (MSE1): 9819.515506871694
Root Mean Squared Error (RMSE): 99.09346853789958